@*@page "/"*@

@inject NavigationManager _navigationManager

<PageTitle>Inicio</PageTitle>

<AuthorizeView>
	<NotAuthorized>	
		<h1>Seja Bem Vindo!</h1>
		Faça o seu <a @onclick="BeginSignIn" href="#">login</a> e comece gerenciar a distribuidora de medicamentos online!
	</NotAuthorized>
</AuthorizeView>

@code{
    private void BeginSignIn()
    {
		_navigationManager.NavigateTo("authentication/login");
    }
}

