@page "/products"

<PageTitle>Produtos</PageTitle>

<div class="row">
    <div class="col">
        <h1>Produtos</h1>
    </div>
    <div class="col">
        <a type="button" class="btn btn-outline-success float-end" href="produtos/novo">Novo Produto</a>
    </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Digite o Nome do Produto</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  <button type="button" class="btn btn-outline-primary btn-lg">Procurar</button>
</div>

<div class="card" style="width: 18rem; height: 18rem;">
  <img src="sample-data/cataflan.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cataflan</h5>
    <p class="card-text">Remédio tal tal tal tal tal.</p>
    <a href="#" class="btn btn-primary">Detalhes</a>
  </div>
</div>

@code {

}
